<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/reserve" method="post">
        <div class="form-group">
            <label for="member">예약회원</label>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option> <option th:each="member : ${members}"
                                                       th:value="${member.id}"
                                                       th:text="${member.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="shop">업체명</label>
            <select name="shopId" id="shop" class="form-control">
                <option value="">업체선택</option> <option th:each="shop : ${shops}"
                                                       th:value="${shop.id}"
                                                       th:text="${shop.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="count">예약수량</label>
            <input type="number" name="count" class="form-control" id="count"
                   placeholder="예약 수량을 입력하세요"> </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>